<div class="page-info">   
    <div class="row" id="show-header"  [ngStyle]="bgImg()">
        <div class="col-md-12"></div>
    </div> 
    <div class="show-info">
        <h1 id="show-title">{{show.name}}</h1>
        <h4 class="text-muted">{{releaseDate}}</h4>
        <p class="show-overview">
            {{show.overview}}
        </p> 
    </div>
    <hr>
    <div class="other-info">
        <div class="row">
            <div class="col-md-6 show-trailer">
                <div>
                    <div class="float-right" id="player">
                        <iframe width="800" height="400" [src]="videoUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="reviews">
                    <h1 class="section-title">Reviews</h1>
                    <div class="card" *ngFor="let review of reviews">
                        <div class="card-title">
                            <h5 class="user">A review by: {{review.author}}</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                {{review.content}}
                            </p>
                        </div>            
                    </div>           
                </div>
            </div>
        </div>
    </div>                      
</div>
