/***************************** Page Header *****************************/
#header{ 
    width: 98%;
    margin: auto;
    min-height: 640px; 
    max-height: 640px;
    min-width: 100%;
    overflow: hidden;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 100% auto !important;
}

/***************************** Page Info *****************************/
.page-info{
    width: 98%;
    margin: auto;
    background-color: white;
    min-height: 100vh;
}

/************************* Poster *************************/
.movie-poster{
    width: 100%;
    max-height: 90%;
    margin: auto;
}

/************************* Title & Release Date *************************/
#title-release{
    background-color: #343a40;
    margin: auto;    
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .5), 0px -1px 2px rgba(0, 0, 0, .5);
    margin-bottom: 40px;
}

#movie-title{
    color: white;
}

h4{
    text-align: center;
}

/************************* Movie-detail Info *************************/
.movie-info{
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
}

#synopsis{
    width: 60%;
    margin: auto;
    text-align: left;
}

.movie-overview{
    width: 60%;
    margin: auto;
    margin-top: 20px;
    font-size: 1.2em;
}

hr{
    width: 60%;
    margin-bottom: 40px;
}

/************************* Trailer *************************/
.movie-trailer{
    margin-bottom: 80px !important;
}

/************************* Reviews *************************/
.reviews{
    margin-bottom: 80px;
}

.section-title{
    text-decoration: underline;
}

.card{
    max-width: 70%;
    margin: auto;
    padding: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .05);
    margin-bottom: 10px;
}

.user{
    padding-left: 10%;
}

.card-text{
    width: 80%;
    margin: auto;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1.05em;
}

.carousel-inner{
    min-height: 500px;
    background-color: black;
    color: white;
}

.carousel-item{
    min-height:500px;
}