
<div class="page-info">   
    <div class="row" id="header"  [ngStyle]="bgImg()">
        <div class="col-md-12"></div>
    </div> 
    <div class="row" id="title-release">
        <div class="col-sm-12">
            <h1 id="movie-title">{{movie.title}}</h1>
            <h4 class="text-muted">
                Released: {{releaseDate}}
            </h4>
        </div>
    </div>
    <div class="movie-info"> 
        <h4 id="synopsis">Synopsis:</h4>       
        <p class="movie-overview">
            {{movie.overview}}
        </p> 
    </div>
    <hr>
    <div class="other-info">
        <div class="row">
            <div class="col-md-6 movie-trailer">
                <h3 id="trailer-heading">Media</h3>
                <div id="carouselExampleControls" class="carousel slide float-right" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active"  *ngFor="let trailer of trailers | slice: startPoint:endPoint">
                            <div id="player">
                                <iframe width="800" height="400" [src]="trailer" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <span class="float-left">
                                <a (click)="prevReview()" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fas fa-chevron-left fa-3x"></i></span>
                                    <span class="sr-only">Previous</span>
                                </a>                                
                            </span>
                        </div>
                        <div class="col-sm-4">
                            <h3>{{movie.title}}</h3>
                        </div>
                        <div class="col-sm-4">
                            <span class="float-right">
                                <a (click)="nextReview(slideIndex)" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"><i class="fas fa-chevron-right fa-3x"></i></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="reviews">
                    <h1 class="section-title">Reviews</h1>
                    <div class="card" *ngFor="let review of reviews | slice: 0:3; let i = index">
                        <h5 class="user">A review by: {{review.author}}</h5>
                        <div class="card-body">
                            <p class="card-text">
                                {{review.content}}
                            </p>
                        </div>            
                    </div>           
                </div>                
            </div>
        </div>
    </div>                  
</div>