
<div class="page-info">
    <h1 id="page-title">{{heading}}</h1>
    <hr id="pageTitle-divider">
    <div *ngIf="filteredMovies.length == 0">
        <h3 class="noResults">No results found...</h3>
    </div>
    <div class="row">
        <div class="col-sm-4" *ngFor="let movie of filteredMovies | slice: startPoint:endPoint;">
            <div class="card mb-3" style="max-width: 800px">
                <div class="row no gutters">
                    <div class="col-md-4 card-image">
                        <img class="movie-image" src="https://image.tmdb.org/t/p/w500{{movie.image}}" alt="{{movie.title}}">    
                    </div>
                    <div class="col-md-8 card-info">
                        <div class="card-body">
                            <div class="card-title">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="float-left score">
                                            {{movie.score}}
                                        </div>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="title">
                                            <h4 class="movie-title">{{movie.title}}</h4>                                            
                                        </div>  
                                        <h6 class="text-muted" id="movie-release">{{movie.releaseDate}}</h6>                                  
                                    </div>
                                </div>                            
                            </div>
                            <div class="card-text">
                                {{movie.overview}}
                            </div> 
                            <div class="card-footer">
                                <button class="btn btn-light" (click)="onSelect(movie)">More info</button>
                            </div>                                                               
                        </div>                                                                                  
                    </div>                                                                    
                </div>
                        
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation" *ngIf="filteredMovies.length > 21">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" (click)="prevPage(currentIndex)" aria-label="Previous">
                    <span aria-hidden="true"><i class="fas fa-caret-left"></i></span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item" [class.active]="currentIndex == i+1" *ngFor="let page of getArrayLength(filteredMovies.length); let i = index">
                <a class="page-link" (click)="updatePage(i)">{{i+1}}</a>
            </li>          
            <li class="page-item">
                <a class="page-link" (click)="nextPage(currentIndex)" aria-label="Next">
                    <span aria-hidden="true"><i class="fas fa-caret-right"></i></span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>