<div class="jumbotron">
    <h1 class="display-4">Weekend AngularJS Project</h1>
    <p class="lead">Developers: Nick Schneider</p>
    <hr class="my-4">
    <p>
      <strong>Purpose:</strong> 
      <small>
        Play around with the AngularJS framework and learn basic functionality
      </small>
    </p>
</div>
<nav class="navbar navbar-expand-lg bg-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/movies">Movies</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/shows">Shows</a>
    </li>
  </ul>
</nav>


<router-outlet></router-outlet>