<div class="jumbotron">
  <h1 class="display-4">Web Dev II | {{title}}</h1>
  <p class="lead">Developer: Nick Schneider</p>
  <hr class="my-4">
  <p>
    <strong id="purpose">Purpose:</strong> 
    <small> Display everything that was learned throughout the semester</small>
  </p>
</div>
<nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"><i class="fas fa-bars fa-2x"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedConten" [class.show]="navbarOpen">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/movies">Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shows">Shows</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 mr-5" *ngIf="searchEnabled == true">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="search" [(ngModel)]="searchItem">
      <button class="btn search-btn my-2 my-sm-0" type="button" (click)="sendSearch(searchItem)">Search</button>
    </form>
  </div>  
</nav>

<router-outlet (activate)="onActivate($event)"></router-outlet>

<footer class="page-footer font-small">
  <div class="row">
    <div class="col-lg-7">
        <div class="row">
            <div class="col-md-4 col-lg-6">
              <div id="developerInfo">
                <h5 class="footer-title">Developer:</h5>
                <p>Nick Schneider</p>
                <h5 class="footer-title">Program:</h5>
                <p>WebDev II Final Project</p>
              </div>              
              <hr id="quote-divider">
              <div>
                <h6 id="quote">"You can't climb the ladder of success with your hands in the pocket"</h6>
                <h6 id="quoted"><strong> - Arnold Schwarzenegger</strong></h6>
              </div>
            </div> 
            <div class="col-md-4 col-lg-6">
              <h5 class="footer-title">Quick Links</h5>
              <ul id="quickLinks">
                <li class="link-item">
                  <a class="link" routerLink="/movies">Movies</a>
                </li>
                <li class="link-item">
                  <a class="link" routerLink="/shows">Shows</a>
                </li>
              </ul>
            </div>
          </div>
    </div>
    <div class="col-lg-5" id="footer-decoration"></div>  
  </div> 
  <div class="footer-copyright text-center py-3">    
    <h6><small>&copy; 2019 Copyright: Nick Schneider</small></h6>
  </div>   
</footer>