<div class="jumbotron">
  <h1 class="display-4">Weekend AngularJS Project</h1>
  <p class="lead">Developer(s): Nick Schneider</p>
  <hr class="my-4">
  <p>
    <strong>Purpose:</strong> 
    <small>
      Play around with the AngularJS framework and learn basic functionality of it
    </small>
  </p>
</div>
<nav class="navbar navbar-expand-lg bg-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/movies">Movies</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/shows">Shows</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>

<footer class="page-footer font-small">
    <div>
      <div class="row">
        <div class="col-md-4 col-lg-3">
          <h5>Developers:</h5>
          <p>Nick Schneider</p>
          <p>
            This project was a way to learn some of the features of AngukarJS over a Weekend
          </p>  
        </div> 
        <div class="col-md-4 col-lg-3">
          <h5>Quick Links</h5>
          <ul id="quickLinks">
            <li class="link-item">
              <a class="link" routerLink="/movies">Movies</a>
            </li>
            <li class="link-item">
              <a class="link" routerLink="/shows">Shows</a>
            </li>
          </ul>
        </div>  
        <div class="col-md-4 col-lg-3">

        </div>       
      </div>
      </div>
    <div class="footer-copyright text-center py-3">
      &copy; 2019 Copyright: Nick Schneider
    </div>
  </footer>