
<div class="page-info">   
    <div class="row" id="header"  [ngStyle]="bgImg()">
        <div class="col-md-12"></div>
    </div> 
    <div class="row" id="title-release">
        <div class="col-sm-12">
            <h1 id="movie-title">{{movie.title}}</h1>
            <h4 class="text-muted">{{releaseDate}}</h4>
        </div>
    </div>
    <div class="movie-info"> 
        <h4 id="synopsis">Synopsis:</h4>       
        <p class="movie-overview">
            {{movie.overview}}
        </p> 
    </div>
    <hr>
    <div class="other-info">
        <div class="row">
            <div class="col-md-6 movie-trailer">
                <div>
                    <div class="float-right" id="player">
                        <iframe width="800" height="400" [src]="videoUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="reviews">
                    <h1 class="section-title">Reviews</h1>
                    <div class="card" *ngFor="let review of reviews | slice: 0:3; let i = index">
                        <div class="card-title">
                            <h5 class="user">A review by: {{review.author}}</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                {{review.content}}
                            </p>
                        </div>            
                    </div>           
                </div>
            </div>
        </div>
    </div>                  
</div>