
<div class="page-info">
    <h1>Popular Movies</h1>
    <div class="row">
        <div class="col-sm-4" *ngFor="let movie of movies | slice: startPoint:endPoint;">
            <div class="card mb-3" style="max-width: 800px">
                <div class="row no gutters">
                    <div class="col-md-4 card-image">
                        <img class="movie-image" src="https://image.tmdb.org/t/p/w500{{movie.image}}" alt="{{movie.title}}">    
                    </div>
                    <div class="col-md-8 card-info">
                        <div class="card-body">
                            <div class="card-title">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="float-left score">
                                            {{movie.score}}
                                        </div>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="title">
                                            <h4>{{movie.title}}</h4>
                                            <h6 class="text-muted">{{movie.releaseDate}}</h6>
                                        </div>                                    
                                    </div>
                                </div>                            
                            </div>
                            <div class="card-text">
                                {{movie.overview}}
                            </div> 
                            <div class="card-footer">
                                <button class="btn btn-light" (click)="onSelect(movie)">More info</button>
                            </div>                                                               
                        </div>                                                                                  
                    </div>                                                                    
                </div>
                        
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" (click)="prevPage(currentIndex)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item" *ngFor="let page of getArrayLength(movies.length); let i = index">
                <a class="page-link" (click)="updatePageIndex(i)">{{i+1}}</a>
            </li>
          
            <li class="page-item">
                <a class="page-link" (click)="nextPage(currentIndex)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>