/***************************** Global Stylings*****************************/
body{
    background-color: #1d2024;
}

h1{
    text-align: center;
}

.btn-light:hover{
    background-color: rgba(52, 58, 64, .1) !important;
    outline-color: #1d2024 !important;
    text-decoration: underline;
}



