<div class="page-info">
    <div>
        <div class="row">
            <div class="col-lg-6">
                <h1>In Theaters</h1>
                <div class="inTheaters">
                    <div class="row">
                        <div class="col-lg-12" *ngFor="let movie of inTheaters | slice: 0:1">
                            <div class="inTheaters-large" [ngStyle]="bgImg(movie.image)" (click)="movieSelect(movie)">
                                <div class="movie-text">
                                    <h4>{{movie.title}}</h4>
                                    <h6>{{movie.releaseDate}}</h6>
                                </div>
                            </div>                                
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" *ngFor="let movie of inTheaters | slice: 1:3">
                            <div class="inTheaters-small" [ngStyle]="bgImg(movie.image)" (click)="movieSelect(movie)">
                                <div class="movie-text">
                                    <h4>{{movie.title}}</h4>
                                    <h6>{{movie.releaseDate}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="col-lg-6">
                <h1>On TV</h1>
                <div class="inTheaters">                        
                    <div class="row">
                        <div class="col-md-6" *ngFor="let show of onTV | slice: 1:3">
                            <div class="inTheaters-small" [ngStyle]="bgImg(show.image)" (click)="showSelect(show)">
                                <div class="movie-text">
                                    <h4>{{show.title}}</h4>
                                    <h6>{{show.date}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12" *ngFor="let show of onTV | slice: 0:1">
                            <div class="inTheaters-large" [ngStyle]="bgImg(show.image)" (click)="showSelect(show)">
                                <div class="movie-text">
                                    <h4>{{show.title}}</h4>
                                    <h6>{{show.date}}</h6>
                                </div>
                            </div>                                
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
